<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
<!--    <update id="edit">-->
<!--        update  setmeal-->
<!--        <set>-->
<!--            <if test="description !=null">-->
<!--                description=#{description}-->
<!--            </if>-->
<!--            <if test="image!=null">-->
<!--                image=#{image}-->
<!--            </if>-->
<!--            <if test="name!=null and name!=''">-->
<!--                name=#{name}-->
<!--            </if>-->
<!--            <if test="price !=null and name!=''">-->
<!--                price=#{price}-->
<!--            </if>-->
<!--            <if test="status!=null">-->
<!--                status=#{status}-->
<!--            </if>-->
<!--            <if test="ca"></if>-->
<!--        </set>-->

<!--    </update>-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into  dish( name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        values
            (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})

    </insert>
    <update id="alterDish">
        update dish
        <set>
        <if test="description!=null">
            description=#{description},
        </if>
        <if test="image!=null">
            image=#{image},
        </if>
        <if test="name!=null and name!=''">
            name=#{name},
        </if>
        <if test="price!=null">
            price=#{price},
        </if>
        <if test="status!=null">
            status=#{status},
        </if>
    </set>
    where id=#{id}
    </update>
    <update id="startAndstop">
        update dish
        <set>
            <if test="status!=null">
                status=#{status}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteBatch">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteById"></delete>

    <select id="getPage" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName from dish d left join category c on d.category_id=c.id
        <where>
            <if test="categoryId!=null">
                and d.category_id=#{categoryId}
            </if>
            <if test="name!=null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                and d.status=#{status}
            </if>
        </where>
        order by d.create_time desc
    </select>
    <select id="UsergetById" parameterType="category" resultType="com.sky.entity.Dish">
        select s.* from dish s left join  category c on c.id=s.category_id
        <where>
            <if test="status!=null">
            and s.status=#{status}
            </if>
            <if test="id!=null">
            and s.category_id=#{id}
            </if>
        </where>

    </select>
    <select id="getAllDish" resultType="java.lang.Integer">
        select count(id)from dish where status=#{status}
    </select>
</mapper>